.khan__book-pic {
  width: 620px;
  height: 608px;
  padding-right: 48px;
  object-fit: fill; /* Сначала использовал contain, для сохранения пропорций согласно вашему замечанию, но в брифе картинка растянута поставил fill */
  object-position: left;

}
